In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('spam_ham_dataset.csv')

In [3]:
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [4]:
data.shape

(5171, 4)

In [5]:
data.isnull().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [6]:
data=data.drop('label_num',axis=1)

In [7]:
data=data.drop('Unnamed: 0',axis=1)

In [8]:
data.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [9]:
data.shape

(5171, 2)

In [10]:
#label encoding
from sklearn.preprocessing import LabelEncoder

In [11]:
data['label'].value_counts()

ham     3672
spam    1499
Name: label, dtype: int64

In [12]:
le=LabelEncoder()
tar=le.fit_transform(data.label)

In [13]:
data['label']=tar

In [14]:
data.head()

   label                                               text
0      0  Subject: enron methanol ; meter # : 988291\r\n...
1      0  Subject: hpl nom for january 9 , 2001\r\n( see...
2      0  Subject: neon retreat\r\nho ho ho , we ' re ar...
3      1  Subject: photoshop , windows , office . cheap ...
4      0  Subject: re : indian springs\r\nthis deal is t...

In [15]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Error loading punkt: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>
[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [16]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\91911\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\91911\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\91911\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\91911\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\91911\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\91911\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [17]:
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem import PorterStemmer
import re

In [ ]:
#stemming
port_stem=PorterStemmer()
def stemming(content):
    stemmed_content=re.sub('[^a-zA-Z]',' ',content)
    stemmed_content=stemmed_content.lower()
    stemmed_content=stemmed_content.split()
    stemmed_content=[port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content_str = ' '.join(stemmed_content)
    return stemmed_content_str
data['text']=data['text'].apply(stemming)

In [ ]:
data.head()

In [ ]:
data.text

In [ ]:
x=data.text
y=data.label

In [ ]:
x

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [ ]:
v=TfidfVectorizer()
v.fit(x_train)
x_train=v.transform(x_train)
x_test=v.transform(x_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 8)
classifier.fit(x_train, y_train)

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(random_state=16)
model.fit(x_train,y_train)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
y_pred=model.predict(x_test)
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

In [ ]:
y_pred=classifier.predict(x_test)
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

In [ ]:
s_input="actual flow for april 4 thwe agree eileen ponton on 04 / 05 / 2001 11 00 46 amto david avila lsp enserch us tu charlie stone texas utilities @ tu , melissa jones / texas utilities @ tu , hpl . scheduling @ enron . com , liz . bellamy @ enron . comcc : subject : nom / actual flow for april 4 thnom mcf mmbtu20 , 000 19 , 909 20 , 447 btu = 1 . 027"
s_input=stemming(s_input)
s_input=[s_input]
s_input=v.transform(s_input)
op=model.predict(s_input)
if(op[0]==0):
    print("ham mail")
else:
    print("spam mail")

In [ ]:
import pickle
#save trained model
filename='spam_model2.sav'
data = {
    'v':v,
    'model':model,
}

# Serialize the data and save it to a pickle file
with open(filename, 'wb') as f:
    pickle.dump(data, f)

In [ ]:
load_modell=pickle.load(open('spam_model2.sav','rb'))

In [ ]:
s_input="Subject: back emile ( the cablefilterz will allow you to receive all the channels that you order with your remote control , payperviews , axxxmovies , sport events , special - events ! http : / / www . 8006 hosting . com / cable / avocation , despoil ."
#stemmingg=load_modell['function']
vv=load_modell['v']
modell=load_modell['model']
#s_input=stemmingg(s_input)
s_input=[s_input]
s_input=vv.transform(s_input)
oop=modell.predict(s_input)
if(oop[0]==0):
    print("ham mail")
else:
    print("spam mail")

In [ ]:
import sklearn
print(sklearn.__version__)

In [ ]:
pip install scikit-learn==1.4.1.post1